@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  margin-bottom: 100px;
}
h2.emtyCart {
  font-size: 40px;
}
.priceDiscount {
  text-decoration: line-through;
}

.cart-row {
  display: grid;
  grid-template-columns: 250px 138px 100px auto;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.products-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  > a {
    > div {
      height: 592px;
    }
  }
}
.size {
  font-size: revert;
  text-align: center;
}
